@media(max-width: 1070px) {
    
    header {
        background-position: center;
        background-size:cover;
    }
    
    .main-nav1 {
        width: 50%;
    }
    
    .nav-box1 {
        padding-right: 30px;
    }
    
    .choose-box {
        padding-left: 15px;
        padding-right: 15px;
        
    }
    
    .box-items p {
        height: 190px;
    }
    
    .who-we-are-container {
     height: 100vh;
    }
    

    .q-statement {
        width: 100%;
    }
    
    h5 {
        font-size: 80%;
        word-spacing: 2px;
        letter-spacing: 1px;
    }
        
    .f-container {
        margin-bottom: 25px;
    }
    
}

@media(max-width: 820px) {
    
    .q-statement  {
        font-size: 70%;
    }
}

@media(max-width: 780px) {
    
    .nav-box1, nav-box2 {
        padding-right: 0px;
    }
    
    
    .nav-box1 a {
        padding: 10px;
        font-size:90%;
 
    }
    
    
    .nav-box2 a {
        padding: 10px;
        font-size:90%;
    }
    
    .main-box {
    margin-top: 30%;
}

    .box-items p {
        height: 190px;
    }
    
    
}



@media(max-width: 767px) {
    
    
    body {
        font-size: 17px;
    }
    
    section {
        padding: 60px 0px;
    }
    
    .nav-box1, nav-box2 {
        padding-right: 50px;
    }
    
    .statements {
        margin-top: 30px;
   
    }

    .statements:last-child {
        margin-top: 60px;
        width: 80%;
}
    
    .real-services {
        margin-right: 25px;
        margin-left: 25px;
}
    .real-services h3 {
        font-size: 90%;
        word-spacing: 2px;
        letter-spacing: 1px;
        margin-bottom: 0px;
        padding-top: 20px;
    
}

    p {
        word-spacing: 2px;
        letter-spacing: 1px;
        line-height: 28px;
        padding: 25px;
}
    
    .h1-box h1 {
        margin-top: 70%;
        margin-left: 10%;
        color: #162d5a;
        width: 100%;
    }
    .choose-box {
        padding: 5px;
    }
    
    
    .box-items img {
        height: 120px;
        width: 120px;
        width: 100%;
        
    }
    
    .first {
        
        width: 70%;   
    }
    
}

@media(max-width: 680px) {
    section {
        padding: 40px 0px;
    }
    body {
        font-size: 15px;
    }
    
    .nav-box1 a {
         padding-right: 0px;
         font-size: 85%;
    }
    
    nav-box1 {
        padding-right: 0px;
    }       
 
    .nav-box2 a {
        padding: 0px;
        font-size:85%;
    }

    
    .box-items p {
        height: 220px;
    }
    
    .box-items {
        width: 100%;
    }
    
    
    .real-services h3 {
        line-height: 30px;
        margin-bottom: 10px;
    }
    
}

input {
    margin: 0px 10px;
    padding: 7px;
    
}


@media(max-width: 555px) {
    section {
        padding: 20px 0px;
    }
    body {
        font-size: 14px;
    }
    
    input {
        margin: 0px 5px;
        padding: 5px;
        width: 90%;

    
}
    
    .nav-box1 a {
        width: 100%;
        font-size: 75%;
    }
    
}


@media(max-width: 496px) {
    .choose-box {
        margin-top: 40px;
 }
    
    .box {
        justify-content: space-evenly;
    }
    
    .box-items {
        margin-bottom: 0px;
    }
    
    .nav-box1 a {
        font-size: 65%;

    }
    
    
    .nav-box2 a {
        font-size: 65%;

    }
    
    input {
        margin: 0px 10px;
        padding: 3px;
        width: 90%;
    
   }
    
     .q-statement { 
             font-size: 66%;
        
    }

}

@media(max-width: 460px) {
    
    .main-nav1 {
        display: none;
    }
    
    .main-nav2 {
        display: none;
    } 
    
    .mobile-nav-icon {
        display: flex;
    }
    
    .nav-box1  {
        flex-direction: column;
        margin-top: 10px;
        align-items: flex-start;
        margin-left: 40px;
    }
     
    .nav-box2 {
        flex-direction: column;
        
    }
    
    .nav-box1 a {
        flex-direction: column;
        border: 0px;
        font-size: 80%;
        padding: 15px 0px;
    
        
    }
    
    .nav-box2 a {
        flex-direction: column;
        border: 0px;
        font-size: 80%;
        padding: 15px 0px;
    }
    
    .sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
    
}


.sticky .mobile-nav-icon i {
        color: #555;
    }
    
    .q-statement { 
             font-size: 55%;
        
    }
    
    .sign-up h3 {
        line-height: 25px;
    }

}

@media(max-width: 440px) {
    body {
        font-size: 12px;
    }
    
    section {
        padding: 10px 0px;
        
    }
    
    .logo-image {
        height: 30px;
        width:30px;
    
    }
    
    h1 {
        font-size: 150%;
        line-height: 30px;
        
    }
    
    .main-box {
        width: 100%;
        margin-top: 200px;
    }
    
    .section-goal {
        padding-bottom: 30px;
    }
    
    iframe {
        width: 200px;
        height: 120px;
        padding-top: 50px;
    }
    
    .goal-box h3 {
        font-size: 100%;
        line-height: 30px;
    }
    
    .goal-box {
        margin: 0px 0px 5px 0px;
    }
    
    h2 {
        font-size: 120%;
        margin-top: 35px;
    }
    
    .goal-btn {
        margin-top: 15px;
    }
    .choose-box {
        flex-direction: column;
    }
    
    .box {
        width: 100%;

    }
    
    .box:first-child {
        
        margin: 0px 0px;
    }
    
    .box-items {
        margin-bottom: 40px;
    }
    
    .box-items:last-child {
        margin-bottom: 5px;
        
        height: 80px;
    }
    
    .box-items p {
        height : 80px;
        font-size: 100%;
        width: 80%;
    }
    
    .box-items h5 {
        font-size: 110%;
    }
    .box-items h4 {
        font-size: 130%;
    }
    .box-items img {
        height: 120px;
        width: 120px;
    }
    
    .who-we-are-container {
        flex-direction: column;
    }
    
    .h1-box h1 {
        margin-top: 40px;
    }
    
    
    .statement-box h2 {
        font-size: 100%;
    }
    .statement-box h4 {
        width: 80%;
        font-size:100%;
    }
    
    .q-statement {
        margin-top: 0px;
        font-size: 80%;
    }
    

    .service-row {
        flex-direction: column;
        margin: 5px 0px;
    }
    .real-services:last-child {
        margin-bottom: 30px;
    }
    
    .real-services {
        margin: 10px 0px;
    }
    
    .service-head {
        margin: 0px 0px 0px 4px;
        
    }
    
    .service-head h2 {
        font-size: 110%;
    }
    
    .service-body {
      margin-top: 10px;
    }
        
    .sign h3 {
        width: 100%;
        line-height: 20px;
        word-spacing: 1px;
        letter-spacing: 1px;
    }
    
    .section-sign-up {
        margin-top: 15px;
    }
    
    .f-container {
        width 100%;
        flex-direction: column;
        margin-bottom: 0px;
    }
    
    footer {
        padding-top: 4px;
    }
    
    
    .last-row a {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    
}

@media(max-width: 290px) {
    
    h1 {
        font-size: 140%;
        
    }
    
    .main-box {
        width: 90%;
    }
    
    h2 {
        margin-top: 30px;
    }
    
}
    
    @media(max-width: 250px) {
            .q-statement {
        font-size: 70%;
    }
        
        
    }

    
    
    
    














